<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>
	<div class="bg-gradient"></div>
	<div class="signup-page">
		<div class="logo">
			<h1><img src="assets/img/logo.png" alt=""></h1>
			<ion-grid>
				<ion-row>
					<ion-col col-1></ion-col>
					<ion-col col-10>
						<form #signupForm="ngForm" (ngSubmit)="signup(signupForm.value);">
							<div class="form-group signup-input">
								<span class="icon-set"><img src="assets/img/man-user.png" alt="First Name" height="20"></span>
								<input type="text" class="form-control" name="firstname" placeholder="First Name" [(ngModel)]="signupForm.firstName" #firstname="ngModel" required>
								<div class="error-display" *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
									<div [hidden]="!firstname.errors.required">
										Please Enter the First Name!
									</div>
								</div>
							</div>
							<div class="form-group signup-input">
								<span class="icon-set"><img src="assets/img/man-user.png" alt="Last Name" height="20"></span>
								<input type="text" class="form-control" placeholder="Last Name" name="lastname" [(ngModel)]="signupForm.lastname" #lastname="ngModel" required>
								<div class="error-display" *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
									<div [hidden]="!lastname.errors.required">
										Please Enter the Last Name!
									</div>
								</div>
							</div>
							<div class="form-group signup-input">
								<span class="icon-set"><img src="assets/img/close-envelope.png" alt="Email Address" height="20"></span>
								<input type="email" class="form-control" placeholder="Email Address" name="email" [(ngModel)]="signupForm.email" #email="ngModel" required>
								<div class="error-display" *ngIf="email.errors && (email.dirty || email.touched)">
									<div [hidden]="!email.errors.required">
										Please Enter the Email Address!
									</div>
								</div>
							</div>
							<div class="form-group signup-input">
								<span class="icon-set"><img src="assets/img/padlock.png" alt="Password" height="20"></span>
								<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="signupForm.password" #password="ngModel" required>
								<div class="error-display" *ngIf="password.errors && (password.dirty || password.touched)">
									<div [hidden]="!password.errors.required">
										Please Enter the Password!
									</div>
								</div>
							</div>
							<div class="login-button">
								<button class="btn btn-blue-outline" [disabled]="!signupForm.valid">Signup</button>
							</div>
						</form>
						<span class="seperater">OR</span>
						<div class="login-with">
							<span class="login-strip">Login with</span>
							<div class="social-logins">
								<span (click)="facebookAuth()"><img src="assets/img/facebook.png" alt="Facebook" class="img-responsive" width="50"></span>
								<span (click)="googleAuth()"><img src="assets/img/google-plus.png" alt="Google" class="img-responsive" width="50"></span>
								<!-- <a href=""></a> -->
								<!-- <a href="https://aquatatva.herokuapp.com/api/auth/google">
									<img src="assets/img/google-plus.png" alt="" class="img-responsive" width="50">
								</a> -->
							</div>
						</div>
						<div class="alert-pop" *ngIf="message" role="alert">
							<p>Support Request Successfully Registered! </p>
						</div>		
						<div class="alert-pop" *ngIf="messageFalse" role="alert">
							<p>Email Already Exists! </p>
						</div>
					</ion-col>
					<ion-col col-1></ion-col>
				</ion-row>
			</ion-grid>
			<div class="sign-up login">
				<button class="signup-button" (click)="loginRedirect()">Login</button>
			</div>
		</div>
	</div>
</ion-content>
