<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img src="assets/img/header-logo.png" alt="" class="img-responsive header-logo">
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="support-main">
	<div class="bg-gradient"></div>
	<ion-card class="card-detail">
		<ion-card-content>
			SUPPORT
		</ion-card-content>
	</ion-card>
	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-10>
				<div class="support-card">
					<form #supportForm="ngForm" (ngSubmit)="formSupport(supportForm.value); supportForm.reset();" >
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" name="name" [(ngModel)]="supportForm.name" placeholder="Name" #name="ngModel" required>
							<div class="error-display" *ngIf="name.errors && (name.dirty || name.touched)">
								<div [hidden]="!name.errors.required">
									Please Enter the Name!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/icon.png" alt="" height="20"></span>
							<input type="number" class="form-control" name="contact" [(ngModel)]="supportForm.contact" placeholder="Contact Number" #contact="ngModel" required>
							<div class="error-display" *ngIf="contact.errors && (contact.dirty || contact.touched)">
								<div [hidden]="!contact.errors.required">
									Please Enter the Contact Number!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/close-envelope.png" alt="" height="20"></span>
							<input type="email" class="form-control" name="email" [(ngModel)]="supportForm.email" placeholder="Email Id" #email="ngModel" required>
							<div class="error-display" *ngIf="email.errors && (email.dirty || email.touched)">
								<div [hidden]="!email.errors.required">
									Please Enter the Email Address!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/type.png" alt="" height="20"></span>
							<input type="text" class="form-control" name="supporttype" [(ngModel)]="supportForm.supportType" placeholder="Type of Support" #supporttype="ngModel" required>
							<div class="error-display" *ngIf="supporttype.errors && (supporttype.dirty || supporttype.touched)">
								<div [hidden]="!supporttype.errors.required">
									Please Enter Type of Support!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/notebook.png" alt="" height="20"></span>
							<input type="text" class="form-control" name="address" [(ngModel)]="supportForm.address" placeholder="Address" #address="ngModel" required>
							<div class="error-display" *ngIf="address.errors && (address.dirty || address.touched)">
								<div [hidden]="!address.errors.required">
									Please Enter the Address!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/upload.png" alt="" height="20"></span>
							<input type="file" class="form-control" name="Image" [(ngModel)]="supportForm.image" placeholder="Image Upload option">
							<!-- <div class="error-display" *ngIf="address.errors && (address.dirty || address.touched)">
								<div [hidden]="!address.errors.required">
									Book title is required!
								</div>
							</div> -->
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/suggest.png" alt="" height="20"></span>
							<input type="text" class="form-control" name="suggestion" [(ngModel)]="supportForm.suggest" placeholder="Suggestion" #suggest="ngModel" required>
							<div class="error-display" *ngIf="suggest.errors && (suggest.dirty || suggest.touched)">
								<div [hidden]="!suggest.errors.required">
									Please Enter your Suggestions!
								</div>
							</div>
						</div>
						<div class="submit-button">
							<button type="submit" class="btn btn-blue-outline" [disabled]=!supportForm.valid>Submit</button>
						</div>						
					</form>
				</div>				
				<div class="alert-pop" *ngIf="message" role="alert">
					<p>Support Request Successfully Registered! </p>
				</div>				
			</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
	</ion-grid>	
</ion-content>
