page-home {

}
.bar-button-menutoggle-md ion-icon {
	color: $cream;
}
.back-button-icon-md { color : $cream; }
.show-menu {
	.toolbar-title-md { margin-left: 0;  }
}
.toolbar-background-md {
	background: $dark-blue;
}
.toolbar-title-md {
	margin-left: -28px;
	img.header-logo {
		margin: 0 auto;
	}
}
.home-main {
	background-color: $dark-blue;
}
.card-detail {
	width: 100%;
	box-shadow: none;
	margin: 0;
	background-color: $cream;
	text-align: center;
	.card-content-md {
		font-size: 1.6rem;
	}
}
.links {
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
		position: relative;
	}
	.small-dots {
		&:before, &:after {
			content: '';
			width: 25px;
			height: 25px;
			border-radius: 100%;
			display: inline-block;
			background-color: $cream;
		}
	}
	.medium-dots {
			&:before, &:after {
				content: '';
				width: 50px;
				height: 50px;
				border-radius: 100%;
				display: inline-block;
				background-color: $cream;
			}
	}
	.views {
		width: 70px;
		height: 70px;
		border-radius: 100%;
		line-height: 70px;
		background-color: $cream;
		font-size: 1.4rem;
		font-weight: 500;
		text-align: center;
	}
}
.list-imgholder {
	min-height: 150px;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.3);
	}
	&.banner-video { background-image: url('../assets/img/banner-video.jpg'); }
	&.usage { background-image: url('../assets/img/usage.jpg'); }
	&.order { background-image: url('../assets/img/order.jpg'); }
	&.support { background-image: url('../assets/img/support.jpg'); }
	&.faq { background-image: url('../assets/img/faq.jpg'); }
	&.contact { background-image: url('../assets/img/contact.jpg'); }
}
.banner-detail {
	font-size: 1.7rem;
	color: #fff;
	text-align: center;
	z-index: 2;
}