// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$dark-blue : #151426;
$cream : #DABD9D;

.color-dark-blue { color:$dark-blue; }
.color-cream { color:$cream; }

/*button*/
.btn-blue-outline {
	border: 1px solid $dark-blue;
	background-color: transparent;
	transition: all 150ms linear;
	&:hover {
		color: $cream;
		background-color: $dark-blue;
		transition: all 150ms linear;
	}
}
.btn-cream-outline {
	border: 1px solid $cream;
	background-color: transparent;
	transition: all 150ms linear;
	&:hover {
		color: $dark-blue;
		background-color: $cream;
		transition: all 150ms linear;
	}
}
/*button*/
/*classes*/
.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.relate {
	position: relative;
}
.get-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.full-width { width: 100%; }
/*classes end*/